<footer class="main-footer">
  <div class="pull-right hidden-xs">
    <b>Version</b> 2.0.0
  </div>
  <strong>Copyright &copy; 2015-2016 <a href="<%root_path %>">PUFFIT IM</a>.</strong> All rights reserved.
</footer>