<aside class="main-sidebar">
  <section class="sidebar">
    <ul class="sidebar-menu">
      <li class="header">MAIN NAVIGATION</li>
      <li>
        <a href="<%= followers_path %>">
          <i class="fa fa-info"></i> <span>Followers</span>
        </a>
      </li>

      <li><a href="<%= campaign_index_path  %>"><i class="fa fa-wechat"></i> <span>Campaigns</span></a></li>
    </ul>
  </section>
</aside>