<div class="wrapper">
  <%= render 'shared/header.html.erb' %>
  <%= render 'shared/main_navigation.html.erb' %>
  <div class="content-wrapper">

    <section class="content-header">
      <h1>
        Messages
      </h1>
    </section>

    <section class="content">
      <div class="row">
        <div class="col-xs-12">
          <div class="box" style="padding:20px;">
            <div class="box-header">
              <h3 class="box-title"></h3>
              <div class="box-tools">
              </div>
            </div>
            <br/>
            <div class="box-body table-responsive no-padding">
              <table id="messages" class="table table-bordered table-hover" data-source="<%= responses_path(format: "json") %>">
                <thead>
                  <tr>
                    <th>Phone Number</th>
                    <th>Last Message</th>
                    <th>Recived Time</th>
                    <th>Actions</th>
                  </tr>
                </thead>
                <tbody>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
  <%= render 'shared/footer.html.erb' %>
</div>

<script>
  $(document).ready(function() {

    $(function () {
      var table = $('#messages').DataTable({
        "columnDefs": [{
            "targets": [3],
            "orderable": false
        }],
        "sAjaxSource": $('#messages').data('source'),
        "bProcessing": false,
        "bServerSide": true,
        "bDeferRender": true,
        "language": {
            "lengthMenu": "Display _MENU_ replies per page",
            "zeroRecords": "No reply found - sorry",
            "info": "Showing page _PAGE_ of _PAGES_",
            "infoEmpty": "No replies available",
            "infoFiltered": "(filtered from _MAX_ total replies)"
        }
      });
    });

  });
</script>